<div class="modal-content modal_850">
<div class="modal-header">
    <button type="button" class="close"
            data-dismiss="modal" aria-hidden="true">
        &times;
    </button>
    <h4 class="modal-title fb f16">
        <span>查看车销单</span>
    </h4>
</div>
    <div class="modal-body modal_850">
        <table class="table no_border">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td width="80px">客户名称：</td><td class="tl">
                {$aOrder.cust_name}
            </td>
                <td class="tr">单据编号：</td><td><span class="f16 fb">{$aOrder.order_code}</span></td>
            </tr>
            <tr>
                <td>联系人：</td>
                <td>
                    {$aOrder.cust_contact}
                </td>
                <td class="tr">电话：</td>
                <td>
                    {$aOrder.cust_tel}
                </td>
            </tr>
            <tr>
                <td>地址：</td>
                <td>
                    {$aOrder.cust_address}
                </td>
                <td class="tr">创建时间：</td>
                <td>{$aOrder.time}</td>
            </tr>
            <tr>
                <td>业务员：</td>
                <td>
                    {$aOrder.staff_name}
                </td>
                <td class="tr"></td>
                <td></td>
            </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
        <table class="table list_table" id="goods_table">
            <thead>
            <tr>
                <td width="20%">商品条码</td>
                <td width="25%">商品名称</td>
               
                <td width="7%">单位</td>
                <td width="7%">数量</td>
                <td width="7%">单价</td>
                <td width="6%">金额(￥)</td>
              
                <td width="7%">备注</td>
            </tr>
            </thead>
            <tbody>
            <volist name="aGoods" id="gvo">
                <tr>
                    <td class="sname">{$gvo.goods_code}</td>
                    <td>{$gvo.good_name}</td>
                    <td>{$gvo.unit_name}</td>
                    <td>{$gvo.number|getGoodsNum}</td>
                    <td>{$gvo.singleprice}</td>
                    <td class='tr tr_total'>{$gvo.allPrice|sprintf='%.2f',###}</td>
                    <td>{$gvo.goods_remark}</td>
                </tr>
            </volist>
            
            <if condition="$aOrder.order_type != 3">
            <tr><td colspan='3'>&nbsp;</td><td class="tr" id='num_total'></td><td></td><td class="tr" id='price_total'></td><td class="tl"></td></tr>
            </if>
            
            </tbody>
            <tfoot>
            <if condition="$aOrder.order_type != 3">
            <tr>
                <td colspan="7">价格备注：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;订单价格：{$aOrder.order_total_money}，实收价格：{$aOrder.order_real_money}，</td>
            </tr>
            </if>
            <tr>
            <td>商品状态：
              <if condition="$gvo['goodstype'] eq 1">
                                                 销售
						<elseif condition="$gvo['goodstype'] eq 3" />
						陈列支付
						<elseif condition="$gvo['goodstype'] eq 4" />
						预存款
						<elseif condition="$gvo['goodstype'] eq 5" />
						<span style="color:red">退货</span>
						<elseif condition="$gvo['goodstype'] eq 6" />
						买二赠一
						<else />
					测试
						</if>
            
            </td>
            
                <td colspan="7">备注：{$aOrder.order_remark}</td>
            </tr>
            </tfoot>
        </table>
    </div>
    
    <notempty name="aOrder.order_ticket">
	<div style="padding-left:20px; padding-bottom:20px;"><img src="__PUBLIC__/Uploads/{$aOrder.order_ticket}" width="300"  /></div>
    </notempty>

<div class="modal-footer">
    <a href="#" class="btn btn-default"
       data-dismiss="modal">关闭
    </a>
</div>
</div>
