<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">
<title>经销商后台-北极光抓单宝</title>
<link href="__PUBLIC__/assets/css/bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/style.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/assets/css/manhuaDate.1.0.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="__PUBLIC__/assets/js/html5shiv.min.js"></script>
<script src="__PUBLIC__/assets/js/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/zstb.js"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/js/manhuaDate.1.0.js"></script>
</head>
<body>

<include file="Public/head"/>
<div class="main-container">
    <include file="Public/menu" />
    <div class="main-right container-fluid">
    
    <div class="r-sub-nav row-fluid"><include file="Public/sub_menu"/></div>
    <div class="row-fluid main-content">

        <div class="sel-data mb20">
        <div class="fl">
        <select id="out_type" class="w100 form-control">
            <option value="0">出库类型</option>
            <volist name="outType" id="ivo" key="k">
            <if condition="$k eq $urlPara['out_type']">
            <option selected="selected" value="{$k}">{$ivo}</option>
            <else/>
            <option value="{$k}">{$ivo}</option>
            </if>
            </volist>
        </select>
        <select id="out_status" class="w100 form-control" value="v">
            <option value="0">审核状态</option>
            <option value="1" <if condition="$urlPara['out_status'] eq 1">selected</if>>审核中</option>
            <option value="2" <if condition="$urlPara['out_status'] eq 2">selected</if>>审核通过</option>
        </select>
        <input type="text" readonly="readonly" <if condition="$urlPara['start_time'] neq 0">value="{$urlPara['start_time']}"</if>  class="form-control w100 cursor-pointer" id="start_time"
        placeholder="起始时间">
        <input type="text" readonly="readonly" <if condition="$urlPara['end_time'] neq 0">value="{$urlPara['end_time']}"</if> class="form-control w100 cursor-pointer" id="end_time"
        placeholder="结束时间">
        <a class="btn btn-default" href="#" id="find" role="button">查询</a>
        </div>
        </div>

        <table class="table list_table" id="role_table">
        <thead>
        <tr><td width="10%">单据编号</td>
        <td width="15%">出库仓库</td>
        <td width="8%">金额（￥）</td>
        <td width="8%">出库类型</td>
        <td width="8%">出库状态</td>
        <td width="10%">日期</td>
        <td width="10%">操作</td>
        </tr>
        </thead>
        <tbody>
        <volist name="depot_in" id="vo">
        <tr>
        <td>{$vo.depot_out_code}</td>
        <td>{$vo.out_name}</td>
        <td>{$vo.out_total_price}</td>
        <td>{$vo.type}</td>
        <td>{$vo.status}</td>
        <td>{$vo.time}</td>
        <td><ul class="operate-menu li-width50">
            <li><a attr="{$vo.depot_out_id}" class="collapsed collapse-menu icons-href out_show" href="javascript:void(0)">
                <i class="icon-edit"></i>查看
            </a></li>
        </ul></td>
        </tr>
        </volist>
        </tbody>
        <tfoot></tfoot>
        </table>
        <!--表格查询结束-->
        <!--分页查询开始-->
        {:W('Page/page',array("__URL__/index",$pnum,$pagelist,$urlPara))}
        <!--分页查询结束-->
	</div>
    
    </div>
</div>

<div id="await" class="await">
    <span> <img src="__PUBLIC__/assets/images/loding.gif" title="加载图片"/></span>
</div>
<!--弹出层开始-->
<div class="modal" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div id="modal-con" class="modal-dialog modal_850">
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $("#start_time,#end_time").manhuaDate({
            Event : "click",//可选
            Left : 0,//弹出时间停靠的左边位置
            Top : -16,//弹出时间停靠的顶部边位置
            fuhao : "-",//日期连接符默认为-
            isTime : false,//是否开启时间值默认为false
            beginY : 2014,//年份的开始默认为1949
            endY :2049//年份的结束默认为2049
        });

        $(".out_show").click(function(){
            var data={depot_out_id:$(this).attr("attr")};
            ajaxDataPara("__URL__/show",data);
        });

        $('#find').click(function(){
            var start=$("#start_time").val()==""?0:$("#start_time").val()
            var end=$("#end_time").val()==""?0:$("#end_time").val()
            if((start==0&&end!=0)||(start!=0&&end==0))
                alert("请点击选择起始时间跟结束时间")
            else
                location.href="__URL__/index/out_status/"+$("#out_status").val()+"/out_type/"+$("#out_type").val()+"/start_time/"+start+"/end_time/"+end;
        });
    })
</script>
</body>
</html>
