
<div class="modal-content modal_850" style="margin-top:120px;">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title fb f16">设置权限</h4>
    </div>

    <form action="" id="submit_form" method="post">
        <input type="hidden" id="role_id" value="{$role_id}">
        <div class="modal-body modal_850">
            选择仓库
            <select name="depot" id="depot_id">

                <foreach name="depot" item="d">
                    <option value="{$d.repertory_id}">{$d.repertory_name}</option>
                </foreach>

            </select>

            <ul id="_menu" class="ztree"></ul>

        </div>

        <div class="modal-footer">
            <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
            <a id="submit_set" class="btn btn-primary">保存</a>
        </div>
    </form>

</div>

<SCRIPT type="text/javascript">

    $("#submit_set").click(function () {
        var ids = count()
        var role_id = $("#role_id").val()
        var depot_id = $("#depot_id option:selected").val()
        var url = "{:U('settingx')}"

        $.ajax({
            type: "post",
            url: url,
            data: {ids: ids, role_id: role_id, depot_id: depot_id},
            success: function (d) {
                if(d.status) {
                    alert('设置成功')
                    window.location.href = "{:U('/Admin/Role/index')}"
                } else {
                    alert('设置失败')
                    window.location.href = "{:U('/Admin/Role/index')}"
                }
            }
        })

    })

    var setting = {
        check: {
            enable: true
        },
        data: {
            simpleData: {
                enable: true
            }
        }
    };

    var zNodes = {$jsonMenu};

    $(document).ready(function(){
        $.fn.zTree.init($("#_menu"), setting, zNodes);


        var role_id = $("#role_id").val()
        var depot_id = $("#depot_id option:selected").val()
        setMenuCheck(depot_id,role_id)

    });


    function count() {
        var zTree = $.fn.zTree.getZTreeObj("_menu");
        checkCount = zTree.getCheckedNodes(true);

        var classpurview = "";
        for(var i=0;i<checkCount.length;i++) {
            classpurview += checkCount[i].id + ","
        }

        //console.log(classpurview)

        return classpurview
    }

    $("#depot_id").change(function () {
        var role_id = $("#role_id").val()
        var depot_id = $(this).val()
        setMenuCheck(depot_id,role_id)
    })
    
    function setMenuCheck(depot_id,role_id) {
        var url = "{:U('/Admin/Role/getMenuIds')}";
        var data = {depot_id:depot_id, role_id:role_id};
        $.get(url, data, function (d) {

            console.log(d)

            var zTree = $.fn.zTree.getZTreeObj("_menu"),
                    nodes = d;
            zTree.checkAllNodes(false);
            if (nodes.length > 0) {
                for (var i=0, l=nodes.length; i<l; i++) {
                    zTree.checkNode(zTree.getNodeByParam("id", nodes[i], null), true, false);
                }
            }

        })
    }

</SCRIPT>