<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">
<title>北极光-抓单宝</title>
<link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/css/bootstrap-responsive.css" rel="stylesheet">
<link href="__PUBLIC__/css/style.css" rel="stylesheet">
<link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="__PUBLIC__/assets/js/html5shiv.min.js"></script>
<script src="__PUBLIC__/assets/js/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.validate.min.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/js/jquery-messages_cn.js"></script> -->
<script type="text/javascript" src="__PUBLIC__/js/zstb.js"></script>
</head>
<body>

<h3 style="text-align:center; font-size:18px; margin-top:30px;">
    您的电脑时间不是标准时间,请校准时间后再更新数据！
</h3>

<p style="margin-top: 10px; text-align:center; font-size:24px;"><a class="btn btn-default" id="href" href="__URL__/chexiaoduizhang/staff/{$staff_id}">确定返回</a></p>

</body>
</html>