<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>B2B批发商城</title>
    <link rel="stylesheet" href="__PUBLIC__/assets/css/mall/style.css">
    <script type="text/javascript" src="__PUBLIC__/assets/js/mall/jquery-1.8.3.min.js"></script>
</head>
<body>
<style>
    .top .header-tit {font-size: 18px;margin: 30px 0 20px 10px;}
    .top .logo img{width: 150px;}
</style>
<!--头部-->
<div class="top">
    <div class="w clearfix">
        <div class="logo">
            <a href="__MODULE__">
                <img src="__PUBLIC__/assets/images/mall/logo.png">
            </a>
        </div>
        <div class="header-tit fl">批发商城</div>
    </div>
</div>

<!--登录-->
<div class="login">
    <div class="box clearfix">
        <div class="login-bg"></div>
        <div class="login-r">
            <h1>账户登录</h1>
            <div class="notice"><i></i>公共场所尽量避免使用自动登录</div>
            <form method="post" action="__URL__/login">
                <div class="form-group">
                    <label><i class="i-user"></i></label>
                    <input type="text" name="user_name" required placeholder="邮箱/用户名/已验证手机">
                    <p class="hidden"></p>
                </div>
                <div class="form-group">
                    <label><i class="i-pwd"></i></label>
                    <input type="password" name="user_pass" required placeholder="请输入密码">
                    <p class="hidden"></p>
                </div>
                <input type="hidden" name="ret_url" value="{$_SERVER['HTTP_REFERER']}">
                <!--<div class="mt40">
                    <input type="checkbox" name="rember" checked>下次自动登录
                </div>-->
                <div class="mt70">
                    <input class="login-btn" type="submit" value="立即登录">
                </div>
                <!--<div class="go-ref"><a href="#">立即注册</a> <a href="#">找回密码</a></div>|-->
            </form>
        </div>
    </div>
</div>

<!--登录 底部-->

<div class="login-foot clearfix">
    <div class="login-copy">
        <img src="__PUBLIC__/assets/images/mall/logo.png" width="125">
        <p>CopyRight @ 2016 河北泽农信息科技有限公司</p>
        <p>增值电信业务经营许可证：冀B2-20160058 网站备案：冀ICP备15028980号</p>
    </div>
    <div class="login-ft-r">
        <dl>
            <dt>关于</dt>
            <dd><a href="http://www.nlh360.com/article/61" target="_blank">关于我们</a></dd>
            <dd><a href="http://www.nlh360.com/" target="_blank">农乐汇商城</a></dd>
            <dd><a href="http://www.nlh360.com/article/63" target="_blank">合作洽谈</a></dd>
            <dd><a href="http://www.nlh360.com/article/64" target="_blank">农乐汇优势</a></dd>
        </dl>
        <dl>
            <dt>服务</dt>
            <dd><a href="#">加入收藏</a></dd>
            <dd><a href="http://www.nlh360.com/service/customer" target="_blank">意见反馈</a></dd>
            <dd><a href="http://company.zhaopin.com/CC324868137.htm" target="_blank">诚聘英才</a></dd>
            <dd><a href="http://www.nlh360.com/article/61" target="_blank">联系方式</a></dd>
        </dl>
        <dl>
            <dt>扫码下载APP</dt>
            <dt><img src="__PUBLIC__/assets/images/mall/app.jpg"></dt>
        </dl>
    </div>
</div>


</body>
</html>