<div class="modal-content modal_650">
    <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title fb f16">
            <span>添加促销活动</span>
        </h4>
    </div>
    <form action="" id="submit_form" method="post">
        <div class="modal-body modal_650">
            <table class="table no_border">
                <thead>
                </thead>
                <tbody>
                	
                <tr>
                    <td>活动名称：</td><td class="tl">
                    <input name="act_name" id="act_name" class="w200 form-control" />
                    </td>
                </tr>
                
                <tr>
                    <td>活动类型：</td><td class="tl">
                    <select name="act_type" id="act_type" class="w200 form-control">
                    
                        <option value="0">售价</option>
                        <option value="1">满额</option>
                        <option value="2">赠品</option>
                    
                    </select>
                    </td>
                </tr>
                
                <tr>
                    <td>活动备注：</td><td class="tl">
                    <input name="act_note" id="act_note" class="w200 form-control" />
                    </td>
                </tr>
                
                <tr class="shoujia">
                    <td>活动价格：</td>
                    <td>
                        <input name="act_price" id="act_price" class="w200 form-control" />
                    </td>
                    
                </tr>
                
                <tr class="mane">
                    <td>满额金额：</td>
                    <td>
                        <input name="act_money" id="act_money" class="w200 form-control" />
                    </td>
                    
                </tr>
                
                <tr class="mane">
                    <td>满减金额：</td>
                    <td>
                        <input name="act_offer_money" id="act_offer_money" class="w200 form-control" />
                    </td>
                    
                </tr>
                
                <tr>
                    <td>活动品牌：</td>
                    <td>
                        <select id="brand_id" name="brand_id" class="w200 form-control">
                            <option value="0">请选择活动品牌</option>
                            <volist name="brandlist" id="vo">
                                <option value="{$vo.brand_id}">{$vo.brand_name}</option>
                            </volist>
                        </select>
                    </td>
                    
                </tr>
                <tr>
                    <td>活动商品：</td>
                    <td>
                        <select id="goods_id" name="goods_id" class="w200 form-control">
                            <option value="0">请选择活动商品</option>
                        </select>
                    </td>
                    
                </tr>
                
                <tr>
                    <td>商品单位：</td>
                    <td>
                        <select id="cv_id" name="cv_id" class="w200 form-control">
                            <option value="0">请选择商品单位</option>
                            
                        </select>
                        售价：<span style="color:#FF0000;" id="base_price">0</span>元
                    </td>
                    
                </tr>
                
                <tr  class="zengpin">
                    <td>商品数量：</td>
                    <td>
                        <input type="number" value="0" name="goods_num" id="goods_num" class="w200 form-control" />
                    </td>
                    
                </tr>
                
                
                <tr class="zengpin">
                    <td>赠品品牌：</td>
                    <td>
                        <select id="song_brand_id" name="song_brand_id" class="w200 form-control">
                            <option value="0">请选择赠品品牌</option>
                            <volist name="brandlist" id="vo">
                                <option value="{$vo.brand_id}">{$vo.brand_name}</option>
                            </volist>
                        </select>
                    </td>
                    
                </tr>
                <tr class="zengpin">
                    <td>活动赠品：</td>
                    <td>
                        <select id="song_goods_id" name="song_goods_id" class="w200 form-control">
                            <option value="0">请选择活动赠品</option>
                        </select>
                    </td>
                    
                </tr>
                
                <tr class="zengpin">
                    <td>赠品单位：</td>
                    <td>
                        <select id="song_cv_id" name="song_cv_id" class="w200 form-control">
                            <option value="0">请选择赠品单位</option>
                            
                        </select>
                    </td>
                    
                </tr>
                
                <tr class="zengpin">
                    <td>赠品数量：</td>
                    <td>
                        <input type="number" value="0" name="song_goods_num" id="song_goods_num" class="w200 form-control" />
                    </td>
                    
                </tr>
                
                <tr>
                    <td>起始时间：</td>
                    <td>
                        <input type="text" readonly="readonly"  class="form-control w200 cursor-pointer" name="start_time" id="start_time"
                    placeholder="起始时间">
                    </td>
                    
                </tr>
                
                <tr>
                    <td>结束时间：</td>
                    <td>
                        <input type="text" readonly="readonly"  class="form-control w200 cursor-pointer" name="end_time" id="end_time"
                    placeholder="结束时间">
                    </td>
                    
                </tr>
                
                
                
                
                </tbody>
                
            </table>
            
        </div>
        <div class="error">
        </div>
        <input type="hidden" name="supp_id" id="sid" value="">
    </form>
    <div class="modal-footer">
        <a href="#" class="btn btn-default"
           data-dismiss="modal">关闭
        </a>
        <a id="create_form" class="btn btn-primary">
            <span>创建</span>
        </a>
    </div>
    <script type="text/javascript" src="__PUBLIC__/assets/js/validate_form.js"></script>
    <script type="text/javascript">
    
        var xianshi=function(act_type){
        	if(act_type==0){
        		$(".shoujia").show();
        		$(".mane").hide();
        		$(".zengpin").hide();
        	}else if(act_type==1){
        		$(".shoujia").hide();
        		$(".mane").show();
        		$(".zengpin").hide();
        		
        	}else if(act_type==2){
        		$(".shoujia").hide();
        		$(".mane").hide();
        		$(".zengpin").show();
        		
        	}
        	
        }
        xianshi(0);
        $("#act_type").change(function(){
        	var act_type=$(this).val();
        	xianshi(act_type);
        });
        
        $("#brand_id").change(function(){
        	var brand_id=$(this).val();
        	
        	var data={brand_id:brand_id};
        	
        	$.post("__URL__/getGoodsByBrand",data,function(goods){
        		
        		var html="<option value='0'>请选择活动商品</option>";
        		for(var i=0;i<goods.length;i++){
        			html+="<option value='"+goods[i].goods_id+"'>"+goods[i].goods_name+"/"+goods[i].goods_spec+"</option>";
        		}
        		$("#goods_id").html(html);
        	},"json")
        });
        
        
        $("#goods_id").change(function(){
        	var goods_id=$(this).val();
        	
        	var data={goods_id:goods_id};
            $("#base_price").text('0');
            $.post("__URL__/getCvByGood",data,function(cv){
        		
        		var html="<option value='0'>请选择商品单位</option>";
        		for(var i=0;i<cv.length;i++){
        			html+="<option value='"+cv[i].cv_id+"'>"+cv[i].goods_unit+"</option>";
        		}
        		$("#cv_id").html(html);
        	},"json")
        });
        
        $("#cv_id").change(function(){
        	var cv_id=$(this).val();
        	var data={cv_id:cv_id};
        	$.post("__URL__/getCvPrice",data,function(res){
        	    $("#base_price").text(res);   	
        	})
        });
        
        $("#song_brand_id").change(function(){
        	var brand_id=$(this).val();
        	
        	var data={brand_id:brand_id};
        	
        	$.post("__URL__/getGoodsByBrand",data,function(goods){
        		
        		var html="<option value='0'>请选择活动商品</option>";
        		for(var i=0;i<goods.length;i++){
        			html+="<option value='"+goods[i].goods_id+"'>"+goods[i].goods_name+"/"+goods[i].goods_spec+"</option>";
        		}
        		$("#song_goods_id").html(html);
        	},"json")
        });
        
        $("#song_goods_id").change(function(){
        	var goods_id=$(this).val();
        	
        	var data={goods_id:goods_id};
        	
        	$.post("__URL__/getCvByGood",data,function(cv){
        		
        		var html="<option value='0'>请选择商品单位</option>";
        		for(var i=0;i<cv.length;i++){
        			html+="<option value='"+cv[i].cv_id+"'>"+cv[i].goods_unit+"</option>";
        		}
        		$("#song_cv_id").html(html);
        	},"json")
        });
        
        
        
        
        $("#create_form").click(function(){
            $("#submit_form").submit();
        })
        $("#submit_form").validate({
            submitHandler:function(){
                applyAdd()
            },
            rules:{
            	act_name:{
                    valNeqZero:true
                },
                act_price:{
                    valNeqZero:true
                },
                act_money:{
                    valNeqZero:true
                },
                act_offer_money:{
                    valNeqZero:true
                },
                song_goods_num:{
                    valNeqZero:true 
                },
                goods_num:{
                    valNeqZero:true 
                },
                song_cv_id:{
                    valNeqZero:true
                },
                cv_id:{
                    valNeqZero:true
                },
                song_goods_id:{
                    valNeqZero:true
                },
                goods_id:{
                    valNeqZero:true
                },
                song_brand_id:{
                    valNeqZero:true
                },
                brand_id:{
                    valNeqZero:true
                },
                start_time:{
                    valNeqZero:true
                },
                end_time:{
                    valNeqZero:true
                }
            },
            messages:{
            	act_name:{
                    valNeqZero:"请填写活动名称"
                },
                act_price:{
                    valNeqZero:"请填写活动价格"
                },
                act_money:{
                    valNeqZero:"请填写满额金额"
                },
                act_offer_money:{
                    valNeqZero:"请填写满减金额"
                },
            	
                song_goods_num:{
                    valNeqZero:"请填写赠送数量"
                },
                goods_num:{
                    valNeqZero:"请填写数量"
                },
                song_cv_id:{
                    valNeqZero:"请选择赠品单位"
                },
                cv_id:{
                    valNeqZero:"请选择商品单位"
                },
                song_goods_id:{
                    valNeqZero:"请选择活动赠品"
                },
                goods_id:{
                    valNeqZero:"请选择活动商品"
                },
                song_brand_id:{
                    valNeqZero:"请选择赠品品牌"
                },
                brand_id:{
                    valNeqZero:"请选择商品品牌"
                },
                start_time:{
                    valNeqZero:"请选择起始时间"
                },
                end_time:{
                    valNeqZero:"请选择结束时间"
                }
                
            }
        })
        function applyAdd(){
            var act_name=$("#act_name").val();
            var act_type=$("#act_type").val();
            var act_note=$("#act_note").val();
            var act_price=$("#act_price").val();
            var act_money=$("#act_money").val();
            var act_offer_money=$("#act_offer_money").val();
            if(act_type==1){
            	
            	if(act_offer_money - act_money >= 0){
            		alert("满减金额不能大于满额金额");
            		return;
            	}
            }else if(act_price<0){
            	alert("活动价格不能小于零");
            }
            
            
            
            var song_goods_num=$("#song_goods_num").val();
            var goods_num=$("#goods_num").val();
            
            var song_cv_id=$("#song_cv_id").val();
            
            var cv_id=$("#cv_id").val();
            var song_goods_id=$("#song_goods_id").val();
            var goods_id=$("#goods_id").val();
            
            var song_brand_id=$("#song_brand_id").val();
            
            var brand_id=$("#brand_id").val();
            
            var start_time=$("#start_time").val();
            var end_time=$("#end_time").val();
            
            
            
            var data={
            	act_name:act_name,
            	act_type:act_type,
            	act_note:act_note,
            	act_price:act_price,
            	act_money:act_money,
            	act_offer_money:act_offer_money,
            	song_goods_num:song_goods_num,
            	goods_num:goods_num,
            	song_cv_id:song_cv_id,
            	cv_id:cv_id,
            	song_goods_id:song_goods_id,
            	goods_id:goods_id,
            	song_brand_id:song_brand_id,
            	brand_id:brand_id,
            	start_time:start_time,
            	end_time:end_time,
            };
               
                
            ajaxDataAUD("__URL__/doAdd",data,true);
            
        }

    </script>
</div>
