<div class="modal-content" >
    <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title fb f16">
            <span>添加配送单</span>
        </h4>
    </div>
    <form action="" id="submit_form" method="post">
        <div class="modal-body ">
        	<div class="col-lg-6">         
            <table class="table list_table" id="goods_table">
                <thead>
                <tr>
                    <td width="20%"><input type="checkbox" id="allshop"/></td>
                    <td width="25%">店铺名称</td>
                    <td width="55%">店铺地址</td>
                    
                </tr>
                </thead>
                <tbody id="custList">
                	
                
                    

                
                
                </tbody>
                <tfoot>

                </tfoot>
            </table>
            <div class="modal-footer">
        <a href="#" class="btn btn-default"
           data-dismiss="modal">关闭
        </a>
        <a data-dismiss="modal" id="create_form" class="btn btn-primary">
            <span>确定</span>
        </a>
    </div>
            </div>  
            <div class="col-lg-6" style="border-left: 2px solid #00e0bc;">
            	<iframe id="iframe" name="miframe" src="__URL__/setting?staff_id={$param['staff_id']}&index={$param['index']}" class="col-md-12" style="height: 650px;"></iframe>
            	
            </div>
        </div>
        <div class="error">
        </div>
        <input type="hidden" name="supp_id" id="sid" value="">
    </form>
    
    
    <script type="text/javascript" src="__PUBLIC__/assets/js/validate_form.js"></script>
    <script type="text/javascript">

        $("#allshop").click(function(){
        	var checked=$(this).attr("checked");
        	
        	if(checked=="checked"){
        		$(".shopIds").attr("checked","checked");
        	}else{
        		$(".shopIds").attr("checked",false);
        	}
        });

        

        $("#create_form").click(function(){
        	var val="";
            $(".shopId:checked").each(function(){
            	val+=$(this).val()+",";
            });
            if(val==""){
            	alert("请选择店铺");
            	return;
            }
            val1=val.substr(0,val.length-1);
            $("#shopIds").val(val1);
            val2=$("#shopIds").val();
            alert("填加成功");
            
        })
        
    </script>
</div>
                