<div class="modal-content modal_850" style="margin-top:120px;">

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title fb f16">添加路线</h4>
</div>

<form action="{:U('add')}" id="submit_form" method="post">
    <div class="modal-body modal_850">
    <table class="table no_border">
    <thead></thead>
    <tbody>
    
    <tr>
    <td align="right">路线名称：</td>
    <td><input name="line_name" id="line_name" type="text" class="unit_name form-control w200"></td>
    </tr>
    <tr>
    
    <tr>
    <td align="right">路线说明：</td>
    <td><input name="line_desc" id="line_desc" type="text" class="unit_name form-control w400"></td>
    </tr>
    <tr>

    <tr>
    <td align="right">所属仓库：</td>
    <td><select name="depot_id" id="depot_id" class="form-control w200">
    <option value="">请选择仓库</option>
    <volist name="depot_list" id="depotName" key="depotID">
    <option value="{$depotID}">{$depotName}</option>
    </volist>
    </select>
    </td>
    </tr>
    
    </tbody>
    <tfoot></tfoot>
    </table>
    </div>
    <div class="error"></div>

    <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
        <a id="submit_unit" class="btn btn-primary">保存</a>
    </div>
</form>
          
</div>

<script type="text/javascript">
$(function(){

$("#submit_form").validate({
	submitHandler:function(){ submit_add(); },
	rules: {
		line_name: "required",
		line_desc: "required",
		depot_id: { required:true, digits:true }
	},
	messages: {
		line_name: "路线名称不能为空",
		line_desc: "路线说明不能为空",
		depot_id:{ required:"请选择仓库", digits:"请选择仓库" }
	}
});

function submit_add(){
	$.ajax({
	url: "{:U('add')}",
	type: "post",
	data: $("#submit_form").serialize(),
	dataType: "json",
	success: function (data) {
		alert(data["info"]);
		if (data["res"] == 1) { location.reload(true); }
	}});
}

$("#submit_unit").click(function(){ $("#submit_form").submit(); });

});
</script>
