<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">
<title>农乐汇-抓单宝</title>
<link href="__PUBLIC__/assets/css/bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/style.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/font-awesome.min.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/manhuaDate.1.0.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="__PUBLIC__/assets/js/html5shiv.min.js"></script>
<script src="__PUBLIC__/assets/js/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/manhuaDate.1.0.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/assets/js/jquery-messages_cn.js"></script> -->
<script type="text/javascript" src="__PUBLIC__/assets/js/zstb.js"></script>
</head>
<body>
<include file="Public/head"/>
<div class="main-container">
    <include file="Public/menu" />
    <div class="main-right container-fluid">
    <div class="r-sub-nav row-fluid"><include file="Public/sub_menu"/></div>
    <div class="row-fluid main-content">
    	
        <div class="sel-data mb20"><div class="fl"><label>{$userInfo.true_name}</label></div></div>

		<form name="applyForm" action="{:U('apply')}" method="post">
        <table class="table list_table" id="role_table">
        <thead>
        <tr><td width="50%">商品名称</td>
        <td width="25%">商品规格</td>
        <td width="25%">商品数量</td>
        </tr>
        </thead>
        <tbody>

        <volist name="goodsList" id="goods">
        <tr>
        <td>{$goods.goods_name}<input type="hidden" name="goods_id[]" value="{$goods.goods_id}" /></td>
        <td>{$goods.goods_spec}</td>
        <td>{$goods.number_string}<input type="hidden" name="goods_num[]" value="{$goods.number}" /></td>
        </tr>
        </volist>

        </tbody>
        <tfoot></tfoot>
        </table>

		<div>
		<input type="hidden" name="line_id" value="{$line_id}" />
        <input type="hidden" name="staffId" value="{$userInfo.admin_id}" />
        <input type="submit" class="btn btn-primary bg_3071a9" value="保存车存申请" />
        </div>
        </form>

	</div>
    </div>
</div>
</body>

</html>
