<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">
<title>北极光-抓单宝</title>
<link href="__PUBLIC__/assets/css/bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/style.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/font-awesome.min.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="__PUBLIC__/assets/js/html5shiv.min.js"></script>
<script src="__PUBLIC__/assets/js/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/PCASClass.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/assets/js/jquery-messages_cn.js"></script> -->
<script type="text/javascript" src="__PUBLIC__/assets/js/zstb.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/goods.js"></script>
</head>
<body>

<include file="Public/head"/>
<div class="main-container">
    <include file="Public/menu" />
    <div class="main-right container-fluid">
    <div class="r-sub-nav row-fluid"><include file="Public/sub_menu"/></div>
    <div class="row-fluid main-content">
        <div class="sel-data mb20">
            <div class="fl">
            <select class="form-control w200" id="queryDepot" name="queryDepot">
            <option value="0">请选择仓库</option>
            <volist name="depot_list" id="depotName" key="depotID">
            <if condition="$depotID eq $queryDepot">
            <option value="{$depotID}" selected>{$depotName}</option>
            <else />
            <option value="{$depotID}">{$depotName}</option>
            </if>
            </volist>
            </select>
            <a class="btn btn-default" href="#" id="chaxun" role="button">查询</a>
            </div>
		</div>

        <table class="table list_table">
        <thead>
        <tr>
        <td width="10%">编号</td>
        <td width="15%">姓名</td>
        <td width="15%">手机号</td>
        <td width="15%">仓库</td>
        <td width="20%">操作</td>
        </tr>
        </thead>
        <tbody>
        <volist name="staff_list" id="da">
        <tr>
        <td>{$da.admin_id}</td>
        <td>{$da.true_name}</td>
        <td>{$da.mobile}</td>
        <td>{$depot_list[$da[depot_id]]}</td>
        <td>
        <ul class="operate-menu li-width33">
        <li><a class="collapsed collapse-menu icons-href" href="{:U('shops',array('id'=>$da[admin_id]))}"><i class="icon-edit"></i>店铺列表</a></li>

            <li><a class="collapsed collapse-menu icons-href" href="{:U('maps',array('id'=>$da[admin_id]))}"><i class="icon-edit"></i>地图显示</a></li>
        </ul>
        </td>
        </tr>
        </volist>
        </tbody>
        <tfoot></tfoot>
        </table>
        
        <!--分页查询开始-->
        {:W('Page/page',array("__URL__/index", $page_size, $pagelist, array('queryDepot'=>$queryDepot)))}
        <!--分页查询结束-->
	</div>
    </div>
</div>

<script type="text/javascript">
$(function () {

	// 查询人员
    $("#chaxun").click(function () {
        var queryDepot = $("#queryDepot").val();
        location.href = "{:U('index')}" + "?queryDepot=" + queryDepot + "&r=" + new Date().getTime();
    });

})
</script>

</body>
<include file="Public/warning_sound"/>
</html>
