<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>北极光-抓单宝</title>
    <link href="__PUBLIC__/assets/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="__PUBLIC__/assets/css/style.css" rel="stylesheet">
    <link href="__PUBLIC__/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/assets/css/manhuaDate.1.0.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/assets/js/html5shiv.min.js"></script>
    <script src="__PUBLIC__/assets/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="__PUBLIC__/assets/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/js/manhuaDate.1.0.js"></script>
    <!-- <script type="text/javascript" src="__PUBLIC__/js/jquery-messages_cn.js"></script> -->
</head>
<body>
<include file="Public/head"/>
<div class="main-container">
    <include file="Public/menu" />
    <div class="main-right">
        <!--右侧菜单导航开始-->
        <div class="r-sub-nav row-fluid "><include file="Public/sub_menu" /></div>
        <!--右侧菜单导航结束-->
        <div class="row-fluid main-content">
            <!--右侧查询开始-->
            <div class="sel-data mb20">
                <div class="fl">
                    <select id="depot" class="w200 form-control">
						<option value="0">请选择仓库</option>
                        <volist name="depotList" id="dvo">
							<option <if condition="$dvo['repertory_id'] eq $urlPara['depot_id']">selected="selected"</if> value="{$dvo.repertory_id}">{$dvo.repertory_name}</option>
                            <volist name="dvo.depot_list" id="v">
                            <option <if condition="$v['repertory_id'] eq $urlPara['depot_id']">selected="selected"</if> value="{$v.repertory_id}">|------{$v.repertory_name}</option> 
                            </volist>
                        </volist>
                    </select>
                    <select id="in_type" class="w200 form-control">
                        <option value="0">请选择入库类型</option>
                        <volist name="inType" id="ivo" key="k">
                            <if condition="$k eq $urlPara['in_type']">
                                <option selected="selected" value="{$k}">{$ivo}</option>
                            <else/>
                                <option value="{$k}">{$ivo}</option>
                            </if>
                            
                        </volist>
                    </select>
                     <select id="in_status" class="w200 form-control" value="v">
                        <option value="0">请选择入库状态</option>
                         <option value="1">已提交</option>
                          <option value="2">已审核</option>
                         
                    </select>
                    <input type="text" readonly="readonly" <if condition="$urlPara['start'] neq 0">value="{$urlPara['start']}"</if>  class="form-control w200 cursor-pointer" id="start_time"
                           placeholder="起始时间">
                    <input type="text" readonly="readonly" <if condition="$urlPara['end'] neq 0">value="{$urlPara['end']}"</if> class="form-control w200 cursor-pointer" id="end_time"
                           placeholder="结束时间">
                    <a class="btn btn-default" href="#" id="find" role="button">查询</a>
                </div>
                <div class="fr">
                    <a class="btn btn-primary bg_3071a9" href="javascript:void(0)" id="cre_in" role="button">创建</a>
                </div>
            </div>
            <!--右侧查询结束-->
            <!--表格查询开始-->
            <table class="table list_table" id="role_table">
                <thead>
                <tr><td width="10%">单据编号</td>
                    <!--<td width="13%">供货方</td>-->
                    <!--<td width="7%">联系人</td>-->
                    <td width="13%">入库仓库</td>
                    <td width="8%">入库类型</td>
                    <td width="8%">入库状态</td>
                    <td width="8%">出单人</td>
                    <td width="10%">日期</td>
                    <td width="10%">操作</td>
                </tr>
                </thead>
                <tbody>
                <volist name="depot_in" id="vo">
                    <tr>
                        <td>{$vo.depot_in_code}</td>
                        <!--<td>{$vo.supp_name}</td>-->
                        <!--<td>{$vo.supp_contact}</td>-->
                        <td>{$vo.in_name}</td>
                        <td>{$vo.type}</td> 
                        <td>{$vo.status}</td>
                        <td>{$vo.create_name}</td>
                        <td>{$vo.time}</td>
                        <td><ul class="operate-menu li-width33">
                            <if condition="$vo['in_status'] eq 2">
                                <li><a attr="{$vo.depot_in_id}" class="collapsed collapse-menu icons-href show" href="javascript:void(0)">
                                    <i class="icon-edit"></i>查看
                                </a></li>
                                <li><a attr="{$vo.depot_in_id}" class="collapsed collapse-menu icons-href print" href="javascript:void(0)">
                                    <i class="icon-edit"></i>打印
                                </a></li>
                            <else/>
                                <li><a attr="{$vo.depot_in_id}" class="collapsed collapse-menu icons-href in_shenhe" href="javascript:void(0)">
                                    <i class="icon-edit"></i>审核
                                </a>
                                </li>
                                <li>
                                <a attr="{$vo.depot_in_id}" class="collapsed collapse-menu icons-href in_edit" href="javascript:void(0)">
                                    <i class="icon-edit"></i>修改
                                </a>
                                </li>
                                <li><a target="_blank" attr="{$vo.depot_in_id}" class="collapsed collapse-menu icons-href print" href="javascript:void(0)">
                                    <i class="icon-edit"></i>打印
                                </a></li>
                                 
                            </if>
                            <!--<li>
                                <a href="{:U('edit',array('state'=>'print','in_code' => $vo['depot_in_code']))}" attr="{$vo.depot_in_code}" class="collapsed collapse-menu icons-href " target="_blank">
                                    <i class="icon-edit"></i>打印
                                </a>
                                </li>-->
                        </ul></td>
                    </tr>
                </volist>
                </tbody>
                <tfoot></tfoot>
            </table>
            <!--表格查询结束-->
            <!--分页查询开始-->
            
            {:W('Page/page',array("__URL__/index",$pnum,$pagelist,$urlPara))}
            
            <!--分页查询结束-->
        </div>
    </div>
</div>
<div id="await" class="await">
    <span> <img src="__PUBLIC__/assets/images/loding.gif" title="加载图片"/></span>
</div>
<!--弹出层开始-->
<div class="modal" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div id="modal-con" class="modal-dialog modal_850">
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/assets/js/zstb.js?v=27"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/depotGoods.js?v=27"></script>
<script type="text/javascript">


    $(function(){
        $("#start_time,#end_time").manhuaDate({
            Event : "click",//可选
            Left : 0,//弹出时间停靠的左边位置
            Top : -16,//弹出时间停靠的顶部边位置
            fuhao : "-",//日期连接符默认为-
            isTime : false,//是否开启时间值默认为false
            beginY : 2014,//年份的开始默认为1949
            endY :2049//年份的结束默认为2049
        });
    })
    $("#cre_in").click(function(){
        ajaxData("__URL__/add");
    })
    $(".in_edit").click(function(){
        var data={depot_in_id:$(this).attr("attr")};
        ajaxDataPara("__URL__/edit",data);
    })
    $(".in_shenhe").click(function(){
        var data={depot_in_id:$(this).attr("attr")};
        ajaxDataPara("__URL__/inPass",data);
    })
    
    $(".show").click(function(){
        var data={depot_in_id:$(this).attr("attr")};
        ajaxDataPara("__URL__/show",data);
    })
    
    $(".print").click(function(){
    	var depot_in_id=$(this).attr("attr");
        
    	location.href="__URL__/show/print/print/depot_in_id/"+depot_in_id;
    });
    $("#find").click(function(){

        var start=$("#start_time").val()==""?0:$("#start_time").val()
        var end=$("#end_time").val()==""?0:$("#end_time").val()
        if((start==0&&end!=0)||(start!=0&&end==0))
            alert("请点击选择起始时间跟结束时间")
        else
            location.href="__URL__/index/depot_id/"+$("#depot").val()+"/in_status/"+$("#in_status").val()+"/in_type/"+$("#in_type").val()+"/start_time/"+start+"/end_time/"+end;
    });
    
</script>
<include file="Public/warning_sound"/>
</body>
</html>