<div class="modal-content modal_850">
    <form action="{:U('Admin/Shops/add')}" method="post" enctype="multipart/form-data"  id="submit_form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title fb f16">添加终端店</h4>
        </div>
        <div class="modal-body">
            <div class="modal_850" id="customer_add_div">
                <table class="table no_border">
                    <thead></thead>
                    <tbody>
                    <tr>
                        <td class="title-error">名称：</td><td><input name="cust_name" id="cust_name" value="{$data.cust_name}"  type="text" class="unit_number form-control w200"></td>
                        <td class="title-error" align="right">联系人：</td><td><input name="contact" id="contact" value="{$data.contact}" type="text" class="unit_name form-control w200">
                    </td>
                    </tr>
                    <tr>
                        <td class="title-error" align="right">所属仓库：</td><td><select name="repertory_id" id="repertory_id" class="form-control w200">
                        <option value="0">请选择仓库</option>
                        <volist id="vo" name="depotList">
                            <option value="{$vo.repertory_id}" style="text-indent: 1em">{$vo.repertory_name}</option>
                        </volist>
                    </select></td>
                        <td class="title-error" align="right">电话：</td><td><input name="telephone" id="telephone" value="{$data.telephone}" type="text" class="unit_name form-control w200"></td>
                    </tr>

                    <tr>
                        <td class="title-error" align="right">所在地：</td><td colspan="3">
                        <select name="province" id="province" class="form-control w130"></select><select id="city" name="city" class="form-control w130"></select><select name="district" id="district" class="form-control w130"></select>
                    </td>
                    </tr>
                    <tr>
                        <td class="title-error" align="right">经纬度：</td><td colspan="3">
                        <input type="text" name="jwd" readonly="readonly" class="w400 form-control jwd_val"/>&nbsp;&nbsp;&nbsp;&nbsp;<a id="jwd" href="javascript:void(0)" style="text-decoration: underline">点击获取经纬度</a>
                    </td>
                    </tr>
                    <tr>
                        <td class="title-error">地址：</td><td colspan="3">
                        <input name="address" id="address" type="text" class="unit_name form-control w400">
                    </td>
                    </tr>
                    <tr>
                        <td class="title-error">是否关闭：</td>
                        <td><select name="is_close" id="is_close" class="form-control w200">
                            <option value="1"  selected="selected">是</option>
                            <option value="0">不是</option>
                        </select>
                        </td>
                    </tr>

                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0)" id="close_customer" class="btn btn-default" data-dismiss="modal">关闭</a>
            <a id="submit_unit" class="btn btn-primary">创建</a>
        </div>
    </form>
</div>
<script type="text/javascript" src="__PUBLIC__/assets/js/validate_form.js"></script>

<script type="text/javascript">
    new PCAS("province","city","district");

    $("#submit_form").validate({
        rules:{
            cust_name:{
                required:true,
                maxlength:30
            },
            contact:{
                required:true,
                maxlength:30
            },
            repertory_id:{
                valNeqZero:true
            },
            telephone:{
                minlength:6,
                maxlength:12,
                number:true,
                required:true
            },
            province:{
                required:true
            },
            city:{
                required:true
            },
            jwd:{
                required:true
            },
            address:{
                required:true
            }
        },
        messages: {
            cust_name: {
                required: "终端店名称不能为空",
                maxlength: "终端店名称最大为15位"
            },
            contact: {
                required: "老板名称不能为空",
                maxlength: "老板名称最大为15位"
            },
            repertory_id: {
                valNeqZero: "请选择仓库"
            },
            telephone: {
                minlength: "请填写正确电话",
                maxlength: "请填写正确电话",
                number: "请填写正确电话",
                required: "电话不能为空"
            },
            province: {
                required: "请选择省份"
            },
            city: {
                required: "请选择市"
            },
            jwd: {
                required: "经纬度不能为空"
            },
            address: {
                required: "请填写地址"
            }
        }
    });

    $("#jwd").click(function(){
        mapObj.clearMap();
        $(".jwd_map").show();
        $("#submit_unit,#close_customer").attr("disabled","disabled");
        if($("#cust_name").attr("disabled")=="disabled") {
            var arr=$(".jwd_val").val().split(",");
            addMarker(arr[0],arr[1]);
            $("#lngX").val(arr[0]);
            $("#latY").val(arr[1]);
        }
        else
            $("#lngX,#latY").val("");
    });
    $("#submit_unit").click(function(){
        if ($('#submit_form').valid()) {
            $('#submit_form').submit();
        }
    });
</script>
